.AppJsx{
    background-color: hsl(120, 33%, 99%);
    width: 100%;
}

.h2{
    font-size: xx-large;
    color: black;
}
.h2p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}


.h3{
    text-align: center;
}

.home{
    background-color: hsl(120, 24%, 94%);
    font-family: sans-serif, Helvetica, Arial;
    margin: 0%;
    width: 100%;
}
#homeImageContainer .signInButton{
    border: none;
    margin: 4%;
    background-color: hsl(154, 13%, 45%);
    padding: 2%;
    border-radius: 2em;
}
#homeImageContainer .signInButton:hover{
    background-color: hsl(153, 44%, 24%);
    color: gold;
}


.reviews{
    background-color: hsl(120, 33%, 99%);
    font-family: sans-serif, Helvetica, Arial;
    width: 100%;
}
.reviews .card{
    margin: 1em;
    text-align: center;
    border-radius: 1em;
    border-color: black;
    border: none;
    background-color: hsl(120, 83%, 86%);
    max-width: 25%;
}
.reviews .cardContainer{
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    animation: scroll-left 40s linear infinite;
}

.reviewsImage{
    width: 100%;
    height: 20em; 
    object-fit: cover;
    border-radius: 1em;
}
.reviewText{
    padding: 4%;
    margin-top: 0;
}

.about{
    background-color: hsl(120, 33%, 99%);
    font-family: sans-serif, Helvetica, Arial;
    text-align: center;
    width: 100%;
}
.about .signInButton{
    border: none;
    background-color: hsl(154, 13%, 45%);
    padding: 1%;
    border-radius: 1em;
}
.about .signInButton:hover{
    background-color: hsl(153, 44%, 24%);
    color: gold;
}

.footer{
    background-color: hsl(120, 83%, 86%);
    font-family: sans-serif, Helvetica, Arial;
    width: 100%;
}
.footer .footerText{
    display: flex;
    margin-left: 2em;
}
.footer .footerNav{
    margin-left: 40%;
}

#homeImageContainer {
    position: relative;
    width: 100%;
    height: 100vh; 
    
    background-image: url('./assets/homePic.jpg');
    background-size: cover;
    background-position: center;
}

#homeImageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(5px);
}

#homeContentContainer {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    left: 5%; 
    
    z-index: 10; 
    color: #ffffff;
    padding: 20px;
    max-width: 70%; 
}